<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.robotandroid">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RobotAndroid">
        <activity android:name=".TacheRepository.EditTacheActivity" />
        <activity android:name=".GammeRepository.EditGammeActivity" />
        <activity
            android:name=".MenuDemarrage"
            android:label="MenuDemarrage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListGammeActivity"
            android:label="MenuGamme" />
        <activity
            android:name=".OperationRepository.EditOperationActivity"
            android:label="EditOperation" />
        <activity
            android:name=".AbstractActivity"
            android:label="AbstractActivity" />
        <activity android:name=".CreerUserActivity">

        </activity>
        <activity android:name=".listeAppareilWifi">

        </activity>
    </application>

</manifest>